@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Tinos";
  margin: 40px auto;
  max-width: 700px;
  display: block;
  padding: 0 15px;
  line-height: 1.6;
}

label.contact {
  color: #2b2b2b;
  margin-bottom: 0.2rem;
  margin-top: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.74;
}

#contact-body {
  border: lightgray solid 2px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 2rem;
  top: 20rem;
  padding: 1.2rem;
  border-radius: 0.25rem;
}

#submit-btn {
  margin-top: 1.4rem;
  background-color: #2b2b2b;
  color: ghostwhite;
  font-family: "Tinos";
  padding: 0.28rem;
  border: 0;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  letter-spacing: 0.8;
  line-height: 1.2;
}

h2.title {
  text-align: center;
}

#share-body {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  position: fixed;
  left: 2rem;
  top: 35rem;
}

.share-buttons {
  margin-right: 0.6rem;
}

#share-row {
  display: flex;
}

.input {
  font-family: "Tinos";
  font-size: 0.9rem;
  padding: 0.2rem;
}

#video {
  height: 12rem;
  width: 20rem;
  background-color: whitesmoke;
  margin-top: 4rem;
}

span {
  color: #3a3a3a;
}

h1 {
  font-size: 1.8rem;
  color: #2b2b2b;
  text-align: center;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.6rem;
  color: #3a3a3a;
  font-weight: 700;
  margin-top: 2.4rem;
  line-height: 1.2;
}

h4 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-style: italic;
  color: #2b2b2b;
  font-weight: 500;
}

h4.footer-note {
  margin-top: 2rem;
}

h6 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  color: #2b2b2b;
  font-style: italic;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  color: #2b2b2b;
  font-weight: 400;
}

@media screen and (max-width: 1440px) {
  body {
    font-family: "Tinos";
    margin: 40px auto;
    max-width: 700px;
    display: block;
    padding: 0 15px;
    line-height: 1.6;
  }
  .sidenote {
    display: none;
    font-size: 1.1rem;
  }
}

span.close-btn {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 4rem;
  top: 0.5rem;
  color: #cc811e;
}

#opened-citation {
  color: #2b2b2b;
  font-weight: 400;
  font-size: 1rem;
  margin-right: 4rem;
  word-break: break-all;
}

a {
  color: #0645ad;
}

#bottomsheet {
  z-index: 200;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: none;
  background-color: floralwhite;
  border-radius: 15px 15px 0px 0px;
  padding: 1.5rem;
}

.bottomsheet-summon-div {
  animation: 600ms ease summon-sheet;
}

@keyframes summon-sheet {
  from {
    transform: translateY(+100vw);
  }

  to {
    transform: translateY(0);
  }
}

.bottomsheet-hide-div {
  animation: 600ms ease hide-sheet;
}

@keyframes hide-sheet {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vw);
  }
}

hr.custom {
  border-color: #3a3a3a;
  height: 1px;
  width: 100%;
}
