@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lusitana:wght@400;700&display=swap");

body {
  font-family: "IBM Plex Serif";
  margin: 40px auto;
  max-width: 700px;
  display: block;
  padding: 0 15px;
  line-height: 1.6;
}

label.contact {
  color: #2b2b2b;
  margin-bottom: 0.2rem;
  margin-top: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.5;
}

#share-custom-btn {
  background-color: #2b2b2b;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: sans-serif;
  letter-spacing: 0.5;
  font-weight: 600;
  color: whitesmoke;
  margin-left: 1.2rem;
  border: 0;
  border-radius: 0.25rem;
}

#contact-body {
  border: lightgray solid 2px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 2rem;
  top: 25rem;
  padding: 1.2rem;
  border-radius: 0.25rem;
}

#submit-btn {
  margin-top: 1.4rem;
  background-color: #2b2b2b;
  color: ghostwhite;
  font-family: "Tinos";
  padding: 0.28rem;
  border: 0;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  letter-spacing: 0.8;
  line-height: 1.2;
}

h2.title {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Lusitana", serif;
}

#share-body {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  position: fixed;
  left: 2rem;
  top: 40rem;
}

a.section-header-link {
  text-decoration-color: white !important;
  font-size: 1.2rem;
  text-decoration: none !important;
  line-height: 1.8;
  color: #222222 !important;
}

#content-body {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  position: fixed;
  left: 2rem;
  top: 4rem;
}

.share-buttons {
  margin-right: 0.6rem;
}

#share-row {
  display: flex;
}

.input {
  font-family: "Tinos";
  font-size: 0.9rem;
  padding: 0.2rem;
}

#video {
  margin-top: 4rem;
}

span {
  color: #3a3a3a;
}

h1 {
  font-family: "Lusitana", serif;
  font-size: 2.8rem;
  color: #2b2b2b;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  color: #3a3a3a;
  font-weight: 700;
  margin-top: 2.4rem;
  line-height: 1.2;
}

h4 {
  font-family: "Lusitana", serif;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-style: italic;
  color: #2b2b2b;
  font-weight: 400;
}

h4.footer-note {
  margin-top: 2rem;
}

h6 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  color: #2b2b2b;
  font-style: italic;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  color: #2b2b2b;
  font-weight: 400;
}

span.close-btn {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 4rem;
  top: 0.5rem;
  color: #cc811e;
}

#opened-citation {
  color: #2b2b2b;
  font-weight: 400;
  font-size: 1rem;
  margin-right: 4rem;
  word-break: break-all;
}

a {
  color: #0645ad;
}

#bottomsheet {
  z-index: 200;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: none;
  background-color: floralwhite;
  border-radius: 15px 15px 0px 0px;
  padding: 1.5rem;
}

.bottomsheet-summon-div {
  animation: 600ms ease summon-sheet;
}

@keyframes summon-sheet {
  from {
    transform: translateY(+100vw);
  }

  to {
    transform: translateY(0);
  }
}

.bottomsheet-hide-div {
  animation: 600ms ease hide-sheet;
}

@keyframes hide-sheet {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vw);
  }
}

hr.custom {
  border-color: #a3a3a3;
  height: 1px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  #yt-video {
    width: 80vw;
    height: 50vw;
  }
}

@media screen and (max-width: 1440px) {
  body {
    margin: 40px auto;
    max-width: 700px;
    display: block;
    padding: 0 15px;
    line-height: 1.6;
  }
  .sidenote {
    display: none;
    font-size: 1.1rem;
  }
  .left {
    display: none;
  }
}
