@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Inter";
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

#video {
  height: 12rem;
  width: 20rem;
  background-color: whitesmoke;
  margin-top: 4rem;
}

#close-btn {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

span {
  color: black;
}

sup {
  font-size: 0.6rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #2b2b2b;
}

h2 {
  font-size: 0.9rem;
  color: #3a3a3a;
  font-weight: 700;
  margin-top: 2.2rem;
}

h4 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  color: #2b2b2b;
  font-weight: 500;
  line-height: 1.6rem;
}

h6 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  color: #2b2b2b;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6rem;
}

p {
  font-size: 0.9rem;
  color: #2b2b2b;
  font-weight: 400;
  line-height: 1.6rem;
}

@media screen and (min-width: 680px) {
  body {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 0.8rem;
  }
}

@media screen and (min-width: 1440px) {
  body {
    margin-left: 30rem;
    margin-right: 30rem;
  }
}

#opened-citation {
  line-height: 1.3rem;
  font-size: 0.8rem;
}

#bottomsheet {
  z-index: 200;
  position: fixed;
  left: 0;
  /* display: none; */
  bottom: 0;
  background-color: floralwhite;
  border-radius: 15px 15px 0px 0px;
  padding: 1.5rem;
}

.bottomsheet-summon-div {
  display: block;
  animation: 600ms ease summon-sheet;
}

@keyframes summon-sheet {
  from {
    transform: translateY(+100vw);
  }

  to {
    transform: translateY(0);
  }
}

.bottomsheet-hide-div {
  display: none;
  animation: 600ms ease hide-sheet;
}

@keyframes hide-sheet {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vw);
  }
}
